package com.abidevel.oauth.authorization.configuration.filter;

import com.abidevel.oauth.authorization.configuration.JWTConfiguration;
import com.abidevel.oauth.authorization.model.response.AuthenticationResponse;
import com.fasterxml.jackson.databind.ObjectMapper;
import io.jsonwebtoken.ExpiredJwtException;
import io.jsonwebtoken.Jwts;
import io.jsonwebtoken.MalformedJwtException;
import io.jsonwebtoken.SignatureException;
import org.jetbrains.annotations.NotNull;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.filter.OncePerRequestFilter;

import javax.servlet.FilterChain;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.io.IOException;
import java.time.LocalDateTime;
import java.util.Optional;

@Configuration
public class ValidateJWTToken extends OncePerRequestFilter {

    private final JWTConfiguration jwtConfiguration;

    public ValidateJWTToken(JWTConfiguration jwtConfiguration) {
        this.jwtConfiguration = jwtConfiguration;
    }

    @Override
    protected void doFilterInternal(HttpServletRequest request, HttpServletResponse response, FilterChain filterChain)
            throws ServletException, IOException {
        Optional<String> optionalToken = retrieveJWT("Authorization", request);
        if (optionalToken.isPresent() && isJWTValid(optionalToken.get())) {
            continueFilterChain(request, response, filterChain);
        } else {
            returnUnauthroizedResponse(response, "Unauthorized");
        }
    }

    private boolean isJWTValid(String token) {
        try {
            Jwts.parser()
                    .setSigningKey(jwtConfiguration.getSecret())
                    .parse(token);
            return true;
        } catch (MalformedJwtException malformedJwtException) {
            logger.error("Malformed JWT");

        } catch (SignatureException signatureException) {
            logger.error("Signature Invalid Exception JWT");

        } catch (ExpiredJwtException expiredJwtException) {
            logger.error("Expired JWT");

        } catch (IllegalArgumentException illegalArgumentException) {
            logger.error("Illegal Argument");
        }
        return false;
    }

    private void continueFilterChain(HttpServletRequest request, HttpServletResponse response, @NotNull FilterChain filterChain) throws IOException, ServletException {
        filterChain.doFilter(request, response);
    }

    private Optional<String> retrieveJWT(String header, @NotNull HttpServletRequest request) {
        Optional<String> headerValue = retrieveHeaderValue(header, request);
        return headerValue.isPresent() ? extractJWTFromHeaderValue(headerValue.get()) : Optional.empty();
    }

    @NotNull
    private Optional<String> retrieveHeaderValue(String header, @NotNull HttpServletRequest request) {
        return Optional.ofNullable(request.getHeader(header));
    }

    @NotNull
    private Optional<String> extractJWTFromHeaderValue(@NotNull String authroizationHeaderValue) {
        return Optional.ofNullable(authroizationHeaderValue.split(jwtConfiguration.getPrefix())[1]);
    }

    private void returnUnauthroizedResponse(@NotNull HttpServletResponse response, String message) throws IOException {
        response.setStatus(HttpServletResponse.SC_FORBIDDEN);
        response.setContentType("application/json");
        response.getOutputStream()
                .println(new ObjectMapper()
                        .writer()
                        .withDefaultPrettyPrinter()
                        .writeValueAsString(AuthenticationResponse.builder()
                                .isAuthenticated(false)
                                .responseDate(LocalDateTime.now().toString())
                                .message(message)
                                .build()));
        response.flushBuffer();
    }

}
